name: C/C++ CI
permissions:
  contents: read

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: deps
      run: |
        sudo apt-get update
        sudo apt-get install \
          libgtkmm-3.0-dev

    - uses: actions/checkout@v6
    - name: bootstrap
      run: autoreconf -vfi
    - name: configure
      run: ./configure
    - name: make
      run: make
    - name: make distcheck
      run: DISTCHECK_CONFIGURE_FLAGS="--with-porg-logdir=$HOME/porg" make distcheck
